<form>
  <br />
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Name Surname</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Name Surname"
        />
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>

      <br />

      <div class="form-group">
        <label for="exampleInputEmail1">User Name</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Username"
        />
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>

      <br />

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>

      <br />
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>
      <br />

      <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>
      <br />
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
  </div>
  <br />
  <button
    style="margin-top: 3px; background-color: green"
    type="submit"
    class="btn btn-primary"
  >
    Submit
  </button>
</form>
