<div class="payment-container">
  <form [formGroup]="secondFormGroup">
    <mat-stepper [linear]="isLinear" #stepper [selectedIndex]="currentStep">
      <mat-step >
        <ng-template  matStepLabel>Fill out your Car's information that you want to rent</ng-template>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Make Your Payment">
        <div class="content">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="mb-3">
                  <label for="cardOwner" style="font-weight: bold">Card Owner</label>
                  <div class="form-group">
                    <input
                      type="text"
                      id="cardOwner"
                      formControlName="cardOwner"
                      class="form-control"
                      placeholder="Enter The Card Owner's Name"
                      [ngClass]="{
                        'is-invalid': submitted && secondFormGroup.get('cardOwner')?.invalid
                      }"
                    />
                    <small
                      class="form-text text-muted invalid-feedback"
                      *ngIf="submitted && secondFormGroup.get('cardOwner')?.errors?.['required']"
                    >Please enter the card owner's name</small>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="cardNo" style="font-weight: bold">Card Number</label>
                  <div class="form-group">
                    <input
                      type="number"
                      id="cardNo"
                      formControlName="cardNo"
                      class="form-control"
                      placeholder="Enter 16 Digit Card Number"
                      [ngClass]="{
                        'is-invalid': submitted && secondFormGroup.get('cardNo')?.invalid
                      }"
                    />
                    <small
                      class="form-text text-muted invalid-feedback"
                      *ngIf="submitted && secondFormGroup.get('cardNo')?.errors?.['required']"
                    >Please enter the card number</small>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="cvv" style="font-weight: bold">CVV</label>
                  <div class="form-group">
                    <input
                      type="number"
                      id="cvv"
                      formControlName="cvv"
                      class="form-control"
                      placeholder="Enter CVV"
                      [ngClass]="{
                        'is-invalid': submitted && secondFormGroup.get('cvv')?.invalid
                      }"
                    />
                    <small
                      class="form-text text-muted invalid-feedback"
                      *ngIf="submitted && secondFormGroup.get('cvv')?.errors?.['required']"
                    >Please enter the CVV</small>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="expiryMonth" style="font-weight: bold">Expiry Month</label>
                  <div class="form-group">
                    <input
                      type="number"
                      id="expiryMonth"
                      formControlName="expiryMonth"
                      class="form-control"
                      placeholder="Enter Expiry Month"
                      [ngClass]="{
                        'is-invalid': submitted && secondFormGroup.get('expiryMonth')?.invalid
                      }"
                    />
                    <small
                      class="form-text text-muted invalid-feedback"
                      *ngIf="submitted && secondFormGroup.get('expiryMonth')?.errors?.['required']"
                    >Please enter the expiry month</small>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="expiryYear" style="font-weight: bold">Expiry Year</label>
                  <div class="form-group">
                    <input
                      type="number"
                      id="expiryYear"
                      formControlName="expiryYear"
                      class="form-control"
                      placeholder="Enter Expiry Year"
                      [ngClass]="{
                        'is-invalid': submitted && secondFormGroup.get('expiryYear')?.invalid
                      }"
                    />
                    <small
                      class="form-text text-muted invalid-feedback"
                      *ngIf="submitted && secondFormGroup.get('expiryYear')?.errors?.['required']"
                    >Please enter the expiry year</small>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div></div>
              </div>
            </div>
          </div>
        </div>
        <button mat-button matStepperPrevious style="background-color: #7d907d; color: rgb(12, 11, 11);" (click)="goBack()">Back</button>
        <button mat-button matStepperNext  [disabled]="!secondFormGroup.valid"     style="background-color: #7d907d; color: rgb(12, 11, 11);" (click)="addPayments()">Payment</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p style="font-size: 20px; color: rgb(225, 166, 166); font-style: italic;">You have successfully rented the car, you can return to the home page....</p>
        <div>
          <br>
          <button style="background-color: #7d907d; color: rgb(12, 11, 11);" mat-button matStepperPrevious>Back</button>
          <button style="background-color: #7d907d; color: rgb(9, 9, 9);" mat-button routerLink="">Home Page</button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>
