<mat-stepper [linear]="isLinear" #stepper [selectedIndex]="currentStep">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your Car's information that you want to rent</ng-template>
      <div>
        <div class="container">
          <div class="row">
            <label for="carFilter">Car's Model</label>
            <select formControlName="carFilter" class="form-select" aria-label="Please choose the car that you want to rent">
              <option value="">Please choose the car that you want to rent.</option>
              <option [value]="car.carId" *ngFor="let car of cars">{{car.carName}}</option>
            </select>
          </div>
        </div>
        <br />
        <div class="container">
          <div class="row">
            <label for="customerFilter">Customer's Name</label>
            <select formControlName="customerFilter" class="form-select" aria-label="Who want to rent this car?">
              <option value="">Who want to rent this car?</option>
              <option [value]="customer.customerId" *ngFor="let customer of customers">{{customer.customerFullName}}</option>
            </select>
          </div>
        </div>
        <br />
        <div class="card-body">
          <div class="mb-3">
            <label for="rentDate">Rent Date</label>
            <div class="form-group">
              <input type="date" formControlName="rentDate" class="form-control" placeholder="Rent Date" />
            </div>
          </div>
        </div>
        <br />
        <div class="card-body">
          <div class="mb-3">
            <label for="returnDate">Return Date</label>
            <div class="form-group">
              <input type="date" formControlName="returnDate" class="form-control" placeholder="Return Date" />
            </div>
          </div>
        </div>
        <br />
        <div class="card-footer">
          <div class="row">
            <div class="col-md-1 mb-1">
              <button type="button" class="btn btn-fill btn-outline-dark" style="width: 70px;" (click)="goBack()">
                Back
              </button>
            </div>
            <div class="col-md-8 mb-8">
            </div>
          </div>
        </div>
        <button mat-button matStepperNext [disabled]="!firstFormGroup.valid" (click)="addRental()"    routerLink="/payments">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Make Your Payment">
    <form [formGroup]="secondFormGroup">
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Renting Successful</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
