<div class="container">
  <br />
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="email">Email address</label>
        <input #email class="form-control" id="email" placeholder="Enter email">
        <small class="form-text text-muted invalid-feedback">**</small>
      </div>
      <br />
      <div class="form-group">
        <label for="password">Password</label>
        <input #password class="form-control" id="password" placeholder="Password">
      </div>
      <br />
      <button style="margin-top: 3; background-color:cadetblue" type="submit"    (click)="login(email.value,password.value)"  routerLink=""
        class="btn btn-primary">Submit</button>
    </div>
    <div class="col-md-5"></div>
  </div>
</div>