<div *ngIf="dataLoaded==false"class="alert alert-primary" role="alert">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div class="mb-3">
    <label for="filterText" class="form-label">Search car</label>
    <input type="text" class="form-control" [(ngModel)]="filterText" id="filterText" placeholder="enter search phrase">
  </div>
<div  *ngIf="filterText"  class="alert alert-success">
  You searched for {{filterText}}
</div>

<div class="row">
  <div class="col-md-4">
    <select [(ngModel)]="brandFilter" class="form-select" aria-label="Choose brand">
      <option value="0" >Choose brand</option>
      <option [value]="brand.brandId" *ngFor="let brand of brands" >{{brand.brandName}}</option>
    </select>
  </div>
<div class="col-md-4">
<select [(ngModel)]="colorFilter" class="form-select" aria-label="Choose color">
  <option value="0" >Choose color</option>
  <option [value]="color.colorId" *ngFor="let color of colors" >{{color.colorName}}</option>
</select>
</div>
<div class="col-md-3">
  <button routerLink="/cars/color/{{colorFilter}}/brand/{{brandFilter}}" style="width: 100%;" class=" btn btn-outline-dark" type="button"> filter</button>
</div>
</div>
<div>
<table *ngIf="dataLoaded==true"class="table"   style="border-color: brown;" >
<thead>
    <tr>
        <th>Brand ID</th>
        <th>Car Model</th>
        <th>Brands Name</th>
        <th>Color</th>
        <th>Car Description</th>
        <th>Car Daily Price</th>
        <th>Price With Vat</th>
    </tr>
</thead>
<tr *ngFor="let car of cars |filterPipe:filterText">
    <td>{{car.brandId}}</td>
    <td>{{ car.carName }}</td>   
    <td>{{car.brandName}}</td>
    <td>{{car.colorName}}</td>
    <td>{{car.description|uppercase}}</td>
    <td>{{car.dailyPrice|currency}}</td>
    <td>{{car.dailyPrice |vatAdded:18 |currency}}</td>
    <button
    routerLink="/carImages/car/{{car.carId}}"
    type="button"
    class="btn btn-outline-success">
    Details
  </button>
</tr>
</table>
</div>