<div *ngIf="dataLoaded==false"class="alert alert-primary" role="alert">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==true"class="table">
<thead>
    <div class="alert alert-warning" role="alert">
       Cars
      </div>
    <tr>
        <th>Brand ID</th>
        <th>Car Description</th>
        <th>Car Daily Price</th>
    </tr>
</thead>
<tr *ngFor="let car of cars">
    <td>{{car.brandId}}</td>
    <td>{{car.description}}</td>
    <td>{{car.dailyPrice}}</td>
</tr>
</table>