<div *ngIf="dataLoaded==false"class="alert alert-secondary" role="alert">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==true"class="table">
<thead>
    <div class="alert alert-warning" role="alert">
       Customers Information
      </div>
    <tr>
        <th>Customer Name</th>
        <th>Customer Company Name</th>
    </tr>
</thead>
<tr *ngFor="let customer of customers">
    <td>{{customer.customerFullName}}</td>
    <td>{{customer.companyName}}</td>
</tr>
</table>
