<div *ngIf="dataLoaded === false" class="alert alert-secondary" role="alert">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <ul *ngIf="dataLoaded === true" class="list-group">
    <li class="list-group-item list-group-item-danger">All Customers</li>
    <li (click)="setCurrentCustomer(customer)"
    routerLink="rentals/customer/{{customer.customerId}}"
     *ngFor="let customer of customers"
      [class]="getCurrentCustomerClass(customer)">
      {{ customer.customerFullName }} / {{ customer.companyName }}
    </li>
   
  </ul>
  <h5 *ngIf="currentCustomer">{{ currentCustomer.customerFullName }} / {{ currentCustomer.companyName }} seçtiniz </h5>
